body{
  background-color: lightcyan;
}
header{
    background-color: rgba(95, 255, 202, 0.719);
    color: mediumblue;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
main{
    display: flex;
}
article {
  background-color: aliceblue;
   color: black;
  text-align: justify;
}